<div class="align-content-center">
    <div class="spinner-grow spinner-grow-sm" role="status"><span class="sr-only">Loading...</span> </div>
    {{ "application.general.loading"|trans({}, 'application') }}
</div>